#container {
	width: 60vw;
	margin: 0 auto;
	padding-bottom: 30px;
	background-color: WhiteSmoke;
}
.image {
	max-width: 100%;
	padding-bottom: 10px;
}
.image2 {
	max-width: 100%;
	padding-bottom: 10px;
}

#Details {
	text-align: center;
}

p {
	padding-bottom: 1px;
}
#Date { 
font-family: Roboto;
}

h1 {
font-family: 'Libre Franklin', sans-serif;
}

#body-text {
	font-size: 18px;
	font-family: ;
	padding-bottom: 10px;

}

#Location {
	border:3px solid gray;
	text-align: center;
	width: 420px;
	height: 352px;
	margin: 0 auto;

}

#ATLANTIC {
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
}

#SNOWBOAT {
	font-size: 30px;
	font-family: 'Seaweed Script', cursive;

}

#Address {
	font-size: 23px;
	font-family: 'Magra', sans-serif;
}

#button {
	padding-top: 30px;
}